
/*  Fallback message */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}


/* Body & steps */
body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    color: rgb(102, 102, 102);
}

.step {
    position: relative;
    width: 1000px;
    height: 1000px;
    padding: 40px 60px;
    margin: 20px auto;

    box-sizing:         border-box;

    line-height: 1.5;

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: -1px;

}

#overview {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
/*
    Make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.7;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.notes {
    display: none;
}

h1,
h2,
h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}

p {
    margin: 0.7em;
}

li {
    margin: 0.2em;
}

/* Highlight.js used for coloring pre > code blocks. */
pre > code {
    font-size: 14px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* Inline code, no Highlight.js */
code {
    font-family: "Cutive mono","Courier New", monospace;
}


a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(200,200,200,0.2);
    text-shadow: -1px 1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    border-bottom: 1px solid rgba(100,100,100,0.2);
    border-left:   1px solid rgba(100,100,100,0.2);

    transition:         0.5s;
}
a:hover,
a:focus {
    background: rgba(200,200,200,1);
    text-shadow: -1px 1px 2px rgba(100,100,100,0.5);
}

blockquote {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
}

em {
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strong {
    text-shadow: -1px 1px 2px rgba(100,100,100,0.5);
}

q {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strike {
    opacity: 0.7;
}

small {
    font-size: 0.4em;
}


/*
  This version of impress.js supports plugins, and in particular, a UI toolbar
  plugin that allows easy navigation between steps and autoplay.
*/
.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
    z-index: 10;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}

/*
    With help from the mouse-timeout plugin, we can hide the toolbar and
    have it show only when you move/click/touch the mouse.
*/
body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}

/*
    In fact, we can hide the mouse cursor itself too, when mouse isn't used.
*/
body.impress-mouse-timeout {
    cursor: none;
}



/* Progress bar */
.impress-progressbar {
  position: absolute;
  right: 118px;
  bottom: 1px;
  left: 118px;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.2);
}
.impress-progressbar DIV {
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: rgba(75, 75, 75, 0.4);
  transition: width 1s linear;
}
.impress-progress {
  position: absolute;
  left: 59px;
  bottom: 1px;
  text-align: left;
  font-size: 10pt;
  opacity: 0.6;
}

/* Help popup plugin */
.impress-enabled #impress-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 80%;
    position: fixed;
    left: 2em;
    bottom: 2em;
    width: 24em;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    z-index: 100;
    font-family: Verdana, Arial, Sans;
}
.impress-enabled #impress-help td {
    padding-left: 1em;
    padding-right: 1em;
}

/*
    And as the last thing there is a workaround for quite strange bug.
    It happens a lot in Chrome. I don't remember if I've seen it in Firefox.

    Sometimes the element positioned in 3D (especially when it's moved back
    along Z axis) is not clickable, because it falls 'behind' the <body>
    element.

    To prevent this, I decided to make <body> non clickable by setting
    pointer-events property to `none` value.
    Value if this property is inherited, so to make everything else clickable
    I bring it back on the #impress element.

    If you want to know more about `pointer-events` here are some docs:
    https://developer.mozilla.org/en/CSS/pointer-events

    There is one very important thing to notice about this workaround - it makes
    everything 'unclickable' except what's in #impress element.

    So use it wisely ... or don't use at all.
*/
.impress-enabled                          { pointer-events: none }
.impress-enabled #impress                 { pointer-events: auto }
.impress-enabled #impress-toolbar         { pointer-events: auto }
.impress-enabled #impress-console-button  { pointer-events: auto }

.slide_2 p {
  font-size: 24px;
}

.slide_2 p.pentaho {
  text-align: right;
}

.slide_2 p.coborns {
}

.slide_2 p.daimler {
  margin-top: 40px;
  margin-left: 150px;
}

.slide_2 img {
  float: left;
  width: 100px;
}

.slide_2 img.pentaho {
  width: 260px;
}

.slide_2 img.coborns {
  width: 100px;
}

.slide_2 img.daimler {
  width: 130px;
  position: absolute;
  left: 55px;
}

.slide_4 p {
  font-weight: lighter;
}

.slide_4 img {
  position: absolute;
  width: 100px;
}

.slide_4 .angular{
  top: 50px;
  left: 130px;
  width: 130px;
}

.slide_4 .css {
  top: 480px;
  left: 90px;
}

.slide_4 .eclipse {
  top: 30px;
  left: 385px;
  width: 85ps;
}

.slide_4 .github {
  top: 140px;
  left: 250px;
  width: 160px;
}

.slide_4 .html {
  top: 170px;
  left: 530px;
  width: 150px;
}

.slide_4 .idea {
  top: 70px;
  left: 520px;
  width: 70px;
}

.slide_4 .jasmine {
  top: 170px;
  left: 50px;
}

.slide_4 .java {
  top: 300px;
  left: 0px;
  width: 150px;
}

.slide_4 .js {
  top:310px;
  left: 280px;
  width: 170px;
}

.slide_4 .karma {
  top: 380px;
  left: 150px;
  width: 85px;
}

.slide_4 .lodash {
  top: 500px;
  left: 410px;
}

.slide_4 .nodejs {
  top: 220px;
  left: 430px;
}

.slide_4 .react {
  top: 570px;
  left: 570px;
}

.slide_4 .redux {
  top: 520px;
  left: 180px;
  width: 220px;
}

.slide_4 .requirejs {
  top: 370px;
  left: 510px;
  width: 130px;
}

.slide_4 .v8 {
  top: 270px;
  left: 130px;
}

.slide_4 p img{
  width: 30px;
}

.slide_5 ul{
   list-style-type: square;
}

.slide_5 img {
  width: 150px;
  float: right;
}

.slide_6 img {
  width: 270px;
  position: absolute;
  top: 490px;
}
